body {
    text-align: center;
    margin: 0px;
    background-color: #e0ebe8;
    font-family: 'Montserrat Alternates', sans-serif;
}
.headerpage1 {
    background-color: #e0ebe8;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}
.container {
    background-color: #e0ebe8;
    text-align: center;
    padding-left: 14%;
    padding-right: 14%;
}
.row {
    background-color: #e0ebe8;
    text-align: center;
}
.image {
    position: relative;
    right: 35%;
    border-radius: 100%;
}
.button {
    position: relative;
    left: 62%;
}
.mainpage1 {
    margin-top: 15px;
    margin-bottom: 5%;
}
.container1 {
    width: fit-content;
}
.sub_container1 {
    padding-top: 5%;
}
.topcloud {
    position: relative;
    left: 15%;
    bottom: 30px;
}
.bottomcloud {
    position: relative;
    right: 20%;
    top: 10px;
}
.my_name {
    position: relative;
    left: 5%;
}
.p1 {
    display: inline;
    position: relative;
    right: 7%;
    color: #00ab8f;
}
.footerpage1 {
    text-align: center;
}
.container3 {
    width: fit-content;
    padding-top: 11%;
}
.mainpage2 {
    padding-left: 37%;
    padding-bottom: 5%;
    background-color: white;
}
.p2 {
    position: relative;
    width: 25px;
    left: 42%;
    color: #00ab8f;
    font-size: 35px;
}
.p3 {
    width: 300px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.mainpage3 {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 25%;
}
.h1 {
    position: relative;
    color: #00ab8f;
    font-size: 40px;
    padding-bottom: 5%;
    right: 3%;
}
.mainpage4 {
    background-color: white;
    padding-top: 2%;
    padding-left: 30%;
    padding-bottom: 10%;
}
.h2 {
    color: #00ab8f;
    font-size: 45px;
    padding-bottom: 20px;
}
.topimage {
    position: relative;
    right: 20%;
}
.bottomimage {
    position: relative;
    left: 15%;
}
.button1 {
    background-color: #45b29a;
    color: #1b7f69;
    font-weight: 400;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
}
.footermainpage {
    padding-left: 33.33%;
}
.name {
    text-decoration: underline;
}